<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="full-page">
  <div class="navbar">
    <img th:src="@{/images/logo.png}" class="logo_img">
    <nav>
      <ul id='MenuItems'>
        <li><a th:href="@{/about_us}">ABOUT US</a></li>
        <li><a th:href="@{/contact}">CONTACT</a></li>
        <li><a th:href="@{/login_register}">LOGIN</a></li>
      </ul>
    </nav>
  </div>
  <div id="contact_text">
    <p>Email: abc@gmail.com</p>
    <p>Telephone: 012 345 678</p>
    <p>Morbi tristique senectus et netus et malesuada. Volutpat lacus laoreet non curabitur gravida. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Sodales ut eu sem integer vitae. Erat imperdiet sed euismod nisi porta lorem.</p>
  </div>
</div> <!-- Closing div for full-page -->
</body>
</html>
